<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        <title> Title from html file</title>

    </head>
    
    <body>
        <div class="main-content">
         
       {{>header}}
       <p>This site is created by Malika Gulati. It uses data from mapbox.com and weather stack.com </p>
       
        <img class="potrait" src="/img/malika-pic.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>