<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        <title> Title from html file</title>

    </head>
    
    <body>
        <div class="main-content">
         Title from html file
       {{>header}}
       
        <img class="potrait" src="/img/google2.0.0.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>